<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">
</head>
<body onload="checkKeuze()">
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2>Hier kunt u een rooster aanmaken.</h2>
<form id="cohort" action="#" th:action="@{/manager/rooster-maken-cohort-gekozen-karin}" th:method="get">
    <table>
        <tr>
            <td><label>Voor welk Cohort wilt u een rooster aanmaken? </label></td>
            <td><select id="selectCohort" th:name="cohortNaam" onchange="checkKeuze()">
                <option value="geenKeuze">Kies een cohort</option>
                <option th:each="cohort: ${cohorten}"
                        th:value="${cohort.cohortNaam}"
                        th:text="${cohort.cohortNaam}">
                </option>
            </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button id="submitButton" type="submit">Kies dit cohort</button></td>
        </tr>
    </table>
</form>
<script>

</script>


</body>
<script>

    //function checkt of er wel een keuze voor een cohort gemaakt wordt. Zo niet, dan werkt de submit button niet (Karin)
    function checkKeuze() {
        var button = document.getElementById("submitButton");
        var geenKeuze = "geenKeuze";
        if (document.getElementById("selectCohort").value == geenKeuze) {
            button.disabled = true;
            button.style.cursor="default";
            button.style.color = "gray";
        } else {
            button.disabled = false;
            button.style.color = "#ffffff";
            button.style.cursor = "pointer";
        }
    }

    // var gekozenCohort;
    // var gekozenVak;
    // document.getElementById("selectCohort").onchange=function () {
    //     selectCohort()
    // };
    // document.getElementById("maOcht").onchange=function () {
    //     selectVak("maOcht")
    // };
    // function selectCohort() {
    //     gekozenCohort = document.getElementById("selectCohort").value;
    //     document.getElementById("gekozenCohort").innerHTML="Rooster voor " + gekozenCohort;
    // }
    // function selectVak(periode) {
    //     gekozenVak = document.getElementById(periode).value;
    //     document.getElementById("demo").innerHTML=gekozenVak;
    // }


</script>
</html>

