<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Nieuwe vacature</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">
    <script type="text/javascript" src="/algemeen.js"></script>
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Nieuwe vacature toevoegen</h1>
<p>
<h2>Vul hier de gegevens in van de nieuwe vacature:</h2>

<div id="nieuweVacatureForm">
    <form action="#" th:action="@{/admin/vacature-toegevoegd}" th:method="POST">
        <table class="TableFormatter">
            <tr>
                <td><label>Vacaturenaam</label></td>
                <td><input class="input_gebruiker" type="text" th:name="vacatureNaam" maxlength="255" required></td>
            </tr>
           <tr>

               <td><label>Omschrijving</label></td>
               <td><textarea onblur="textCounter(this,this.form.counter,255);" onkeyup="textCounter(this,this.form.counter,255);" input type="text" class="omschrijving" th:name="omschrijving" maxlength="255" required></textarea></td>
               <td><input class="max255" onblur="textCounter(this.form.recipients,this,255);" disabled  onfocus="this.blur();" tabindex="999" maxlength="3" size="3" value="255" name="counter"></td>
           </tr>
           <tr>
               <td><label>Aantal uren</label></td>
               <td><input class="input_gebruiker" type="text" th:name="aantalUren" required></td>
           </tr>
           <tr>
               <td><label>Eisen</label></td>
               <td><textarea class="input_gebruiker" input type="text" th:name="eisen" value=""  maxlength="255" required></textarea></td>
           </tr>
           <tr>
               <td></td><td> <input type="submit" value="Vacature opslaan"/></td>
           </tr>

        </table>

    </form>
</div>

</body>
<script>
  textCounter( field, countfield, maxlimit );
</script>

</html>