<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4 | Overzicht Gebruikers</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Overzicht Gebruikers</h1>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek op voornaam">
<form action = "#" th:action="@{/admin/overzicht-gebruikers}" th:method="POST">
<table id="TableFormatter">
    <thead>
    <tr class="ST">
        <th>Id</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Gebruikersnaam</th>
        <th>Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr class="ST" th:each="gebruiker: ${gebruikers}">
        <td class="ST"><span th:text="${gebruiker.getId()}">Id </span></td>
        <td class="ST"><span th:text="${gebruiker.getFirstName()}">Voornaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getLastName()}">Achternaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getUsername()}">Gebruikersnaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getRoles()}">Rol </span></td>

        <td class="ST"><button type="submit" th:name="Wijzig" th:value="${gebruiker.getId()}" >
            Wijzig gebruiker</button></td>
        <td class="ST"><button type="submit" th:name="Verwijder" th:value="${gebruiker.getId()}">
            Verwijder gebruiker
        </button> </td>
    </tr>
    </tbody>
</table>
</form>
<script>
    function myFunction() {
        var input, filter, table, tr, td1, td2, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("TableFormatter");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[1];
            td2 = tr[i].getElementsByTagName("td")[2];

            is_present = 0;
            if (td1) {
                txtValue = td1.textContent || td1.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
            else if (td2) {
                txtValue = td2.textContent || td2.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>