<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4 | Overzicht Gebruikers</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Overzicht Gebruikers</h1>
<input class="input_gebruiker" type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek gebruiker">
<br>
<br>
<form action = "#" th:action="@{/admin/overzicht-gebruikers}" th:method="POST">
<table class="TableFormatter" id="gebruikersTabel">
    <thead>
    <tr class="ST">
        <th>Id</th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Gebruikersnaam</th>
        <th>Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr class="ST" th:each="gebruiker: ${gebruikers}">
        <td class="ST"><span th:text="${gebruiker.getId()}">Id </span></td>
        <td class="ST"><span th:text="${gebruiker.getFirstName()}">Voornaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getLastName()}">Achternaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getUsername()}">Gebruikersnaam </span></td>
        <td class="ST"><span th:text="${gebruiker.getRoles()}">Rol </span></td>

        <td class="ST"><button type="submit" th:name="Wijzig" th:value="${gebruiker.getId()}" >
            Wijzig gebruiker</button></td>
        <td class="ST"><button type="submit" th:name="Verwijder" th:value="${gebruiker.getId()}">
            Verwijder gebruiker
        </button> </td>
    </tr>
    </tbody>
</table>
</form>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, occurrence;

        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("gebruikersTabel");
        tr = table.getElementsByTagName("tr");
        
        for (i = 0; i < tr.length; i++) {
            occurrence = false;
            td = tr[i].getElementsByTagName("td");
            for(var j=0; j< td.length; j++){
                currentTd = td[j];
                if (currentTd ) {
                    if (currentTd.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        occurrence = true;
                    }
                }
            }
            if(!occurrence){
                tr[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>