<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Beschikbaarheid</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/algemene-beschikbaarheid.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Algemene beschikbaarheid opgeven</h1>
<h2>Geef hier op op welke dagen je wel en niet kunt werken.</h2>

<form id="hiddenForm" action="#" th:action="@{/docent/algemene-beschikbaarheid-updaten}" th:object="${algemeneWeek}" method = post>
    <table id="deTabel">
        <tr>
            <th>maandag</th>
            <th>dinsdag</th>
            <th>woensdag</th>
            <th>donderdag</th>
            <th>vrijdag</th>
        </tr>
        <tr>
            <td th:class="*{getMaandag().getOchtend().getBeschikbaar()}"><input type="hidden" name="maandagochtend" th:value="*{getMaandag().getOchtend().getBeschikbaar()}">09:00-13:00</td>
            <td th:class="*{getDinsdag().getOchtend().getBeschikbaar()}"><input type="hidden" name="dinsdagochtend" th:value="*{getDinsdag().getOchtend().getBeschikbaar()}">09:00-13:00</td>
            <td th:class="*{getWoensdag().getOchtend().getBeschikbaar()}"><input type="hidden" name="woensdagochtend" th:value="*{getWoensdag().getOchtend().getBeschikbaar()}">09:00-13:00</td>
            <td th:class="*{getDonderdag().getOchtend().getBeschikbaar()}"><input type="hidden" name="donderdagochtend" th:value="*{getDonderdag().getOchtend().getBeschikbaar()}">09:00-13:00</td>
            <td th:class="*{getVrijdag().getOchtend().getBeschikbaar()}"><input type="hidden" name="vrijdagochtend" th:value="*{getVrijdag().getOchtend().getBeschikbaar()}">09:00-13:00</td>
        </tr>
        <tr>
            <td th:class="*{getMaandag().getMiddag().getBeschikbaar()}"><input type="hidden" name="maandagmiddag" th:value="*{getMaandag().getMiddag().getBeschikbaar()}">13:00-17:00</td>
            <td th:class="*{getDinsdag().getMiddag().getBeschikbaar()}"><input type="hidden" name="dinsdagmiddag" th:value="*{getDinsdag().getMiddag().getBeschikbaar()}">13:00-17:00</td>
            <td th:class="*{getWoensdag().getMiddag().getBeschikbaar()}"><input type="hidden" name="woensdagmiddag" th:value="*{getWoensdag().getMiddag().getBeschikbaar()}">13:00-17:00</td>
            <td th:class="*{getDonderdag().getMiddag().getBeschikbaar()}"><input type="hidden" name="donderdagmiddag" th:value="*{getDonderdag().getMiddag().getBeschikbaar()}">13:00-17:00</td>
            <td th:class="*{getVrijdag().getMiddag().getBeschikbaar()}"><input type="hidden" name="vrijdagmiddag" th:value="*{getVrijdag().getMiddag().getBeschikbaar()}">13:00-17:00</td>
        </tr>
        <tr>
            <td th:class="*{getMaandag().getAvond().getBeschikbaar()}"><input type="hidden" name="maandagavond" th:value="*{getMaandag().getAvond().getBeschikbaar()}">17:00-21:00</td>
            <td th:class="*{getDinsdag().getAvond().getBeschikbaar()}"><input type="hidden" name="dinsdagavond" th:value="*{getDinsdag().getAvond().getBeschikbaar()}">17:00-21:00</td>
            <td th:class="*{getWoensdag().getAvond().getBeschikbaar()}"><input type="hidden" name="woensdagavond" th:value="*{getWoensdag().getAvond().getBeschikbaar()}">17:00-21:00</td>
            <td th:class="*{getDonderdag().getAvond().getBeschikbaar()}"><input type="hidden" name="donderdagavond" th:value="*{getDonderdag().getAvond().getBeschikbaar()}">17:00-21:00</td>
            <td th:class="*{getVrijdag().getAvond().getBeschikbaar()}"><input type="hidden" name="vrijdagavond" th:value="*{getVrijdag().getAvond().getBeschikbaar()}">17:00-21:00</td>
        </tr>
    </table>
    <button id="knopOpslaan" type="submit" value="Submit">Opslaan</button>
</form>

<script>
    var deTabel = document.querySelector('#deTabel');

    deTabel.addEventListener('click', function(e) {
        var td = e.target;
        if (td.tagName === 'TD') {
            e.target.classList.toggle('true');
            e.target.classList.toggle('false');

            if (e.target.classList.contains('true')) {
                td.firstChild.value = 'true';
            } else {
                td.firstChild.value = 'false';
            }
        }
        console.log(td.firstChild.value);
    })


    /*Knop voor het opslaan van data*/
    function Opslaan(){
        this.click = function() {
            alert('Hartelijk dank!\nAlgemene beschikbaarheid is opgeslagen');
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);
</script>
</body>
<footer>
</footer>

</html>