<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4 | Incident Registreren</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/algemene-beschikbaarheid.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">

</head>
<body>
<div>
    <header>
        <div th:insert="~{header::copy}">Header</div>
    </header>
    <h1>Incidentregistratie</h1>
    <h2>Geef je incident op.</h2>
    <form id="reg_date" th:action="@{/docent/incidentregistratie}" th:object="${dag}" th:method="POST">
        <label for="selectedDate">Datum van incident</label>
        <input class="input_gebruiker" type="date" id="selectedDate" name="datum" value="date">

        <br/>
        <br/>
        <table id="hetIncident">
            <tr>
                <td th:class="*{getOchtend().getBeschikbaar()}"><input type="hidden" name="ochtend"
                                                                       th:value="${dag.getOchtend().getBeschikbaar()}">09.00
                    - 13.00
                </td>
            </tr>
            <tr>
                <td th:class="*{getMiddag().getBeschikbaar()}"><input type="hidden" name="middag"
                                                                      th:value="${dag.getMiddag().getBeschikbaar()}">13.00
                    - 17.00
                </td>
            </tr>
            <tr>
                <td th:class="*{getAvond().getBeschikbaar()}"><input type="hidden" name="avond"
                                                                     th:value="${dag.getAvond().getBeschikbaar()}">17.00
                    - 21.00
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <textarea id="opmerkingVeld" class="input_gebruiker" th:type="text"
                  placeholder="Plaats hier uw opmerking, maximaal 255 tekens." name="opmerkingGebruiker"></textarea>


        <button id="knopOpslaan">Opslaan</button>

        <table id="overzicht">
            <tr class="ST" id="headerRowIncident">
                <th colspan="6">Overzicht openstaande aanvragen</th>
            </tr>
            <tr class="ST">
                <th>Datum Incident</th>
                <th>Ochtend</th>
                <th>Middag</th>
                <th>Avond</th>
                <th>Status</th>
                <th>Opmerking Gebruiker</th>
            </tr>
            <tr th:each="incident: ${statusInBehandeling}">
                <td th:class="${incident.getDatum()}"><span th:text="${incident.getDatum()}">Datum
            </span></td>
                <td th:class="${incident.isOchtend()}"></td>
                <td th:class="${incident.isMiddag()}"></td>
                <td th:class="${incident.isAvond()}"></td>
                <td th:text="${incident.getStatus()}"></td>
                <td align="left" th:text="${incident.getOpmerkingGebruiker()}"></td>
            </tr>
        </table>
        <br>
        <br>
        <table class="TableFormatter" id="overzichtAfgehandeld">
            <tr class="ST" id="headerRowIncident2">
                <th colspan="8">Overzicht afgehandelde aanvragen</th>
            </tr>
            <tr class="ST">
                <th>Datum Incident</th>
                <th>Ochtend</th>
                <th>Middag</th>
                <th>Avond</th>
                <th>Opmerking Gebruiker</th>
                <th>Status</th>
                <th>Toelichting Manager</th>
            </tr>
            <tr th:each="incident: ${statusAfgehandeld}">
                <td th:class="${incident.getDatum()}"><span th:text="${incident.getDatum()}">Datum
            </span></td>
                <td th:class="${incident.isOchtend()}"></td>
                <td th:class="${incident.isMiddag()}"></td>
                <td th:class="${incident.isAvond()}"></td>
                <td align="left" th:text="${incident.getOpmerkingGebruiker()}"></td>
                <td th:text="${incident.getStatus()}"></td>
                <td th:text="${incident.getManagerToelichting()}"></td>
            </tr>
        </table>
    </form>


</div>
<br/>
<br/>
<br/>
<br/>
<br/>

<script>

    var incident = document.querySelector('#hetIncident', '#overzicht');

    incident.addEventListener('click', function (e) {
        var td = e.target;
        if (td.tagName === 'TD') {
            e.target.classList.toggle('true');
            e.target.classList.toggle('false');

            if (e.target.classList.contains('true')) {
                td.firstChild.value = 'true';
            } else {
                td.firstChild.value = 'false';
            }
        }
        console.log(td.firstChild.value);
    });

    document.querySelector("#selectedDate").valueAsDate = new Date();

</script>
</body>
<footer>
</footer>

</html>