<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4 | Incident Registreren</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/algemene-beschikbaarheid.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <script type="text/javascript" src="/algemeen.js"></script>

</head>
<body>
<div>
    <header>
        <div th:insert="~{header::copy}">Header</div>
    </header>
    <h1>Incidentregistratie</h1>
    <h2>Geef je incident op.</h2>
    <form id="reg_date" th:action="@{/docent/incidentregistratie}" th:object="${dag}" th:method="POST">
        <label for="selectedDate">Datum van incident</label>
        <input class="input_gebruiker" type="date" id="selectedDate" name="datum" value="date">

        <br/>
        <br/>
        <table id="hetIncident">
            <tr>
                <td th:class="*{getOchtend().getBeschikbaar()}"><input type="hidden" name="ochtend"
                                                                       th:value="${dag.getOchtend().getBeschikbaar()}">09.00
                    - 13.00
                </td>
            </tr>
            <tr>
                <td th:class="*{getMiddag().getBeschikbaar()}"><input type="hidden" name="middag"
                                                                      th:value="${dag.getMiddag().getBeschikbaar()}">13.00
                    - 17.00
                </td>
            </tr>
            <tr>
                <td th:class="*{getAvond().getBeschikbaar()}"><input type="hidden" name="avond"
                                                                     th:value="${dag.getAvond().getBeschikbaar()}">17.00
                    - 21.00
                </td>
            </tr>
        </table>
        <button id="knopOpslaan">Opslaan</button>

        <table id="overzicht">
            <tr class="ST">
                <th>Datum Incident</th>
                <th>Ochtend</th>
                <th>Middag</th>
                <th>Avond</th>
            </tr>
            <tr th:each="incident: ${incidentLijst}">
                <td style="color:black" th:class="${incident.getDatum()}"><span th:text="${incident.getDatum()}">Datum
            </span></td>
                <td th:class="${incident.isOchtend()}"></td>
                <td th:class="${incident.isMiddag()}"></td>
                <td th:class="${incident.isAvond()}"></td>
                </td>
            </tr>
        </table>
    </form>


</div>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>

<!--<form id="hiddenformIR" action="#" th:action=@{/incidentregistratie} th:object="${geselecteerdeWeek}"-->
<!--      method="GET">-->

<!--    <table id="deIncidentTabel">-->
<!--        <tr>-->
<!--            <th>Maandag</th>-->
<!--            <th>Dinsdag</th>-->
<!--            <th>Woensdag</th>-->
<!--            <th>Donderdag</th>-->
<!--            <th>Vrijdag</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th style="color: black" th:text="${maandagdatum}">datum</th>-->
<!--            <th style="color: black" th:text="${dinsdagdatum}">datum</th>-->
<!--            <th style="color: black" th:text="${woensdagdatum}">datum</th>-->
<!--            <th style="color: black" th:text="${donderdagdatum}">datum</th>-->
<!--            <th style="color: black" th:text="${vrijdagdatum}">datum</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td class="kanwel maandagochtend"><input type="hidden" name="maandagochtend"-->
<!--                                                     th:value="${maandagochtend}">09.00 - 13-->
<!--                .00-->
<!--            </td>-->
<!--            <td class="kanwel dinsdagochtend"><input type="hidden" name="dinsdagochtend"-->
<!--                                                     th:value="${dinsdagochtend}"-->
<!--            >09.00-->
<!--                - 13-->
<!--                .00</td>-->
<!--            <td class="kanwel woensdagochtend"><input type="hidden" name="woensdagochtend"-->
<!--                                                      th:value="${woensdagochtend}">09.00 - 13.00-->
<!--            </td>-->
<!--            <td class="kanwel donderdagochtend"><input type="hidden" name="donderdagochtend"-->
<!--                                                       th:value="${donderdagochtend}">09.00-->
<!--                - 13-->
<!--                .00-->
<!--            </td>-->
<!--            <td class="kanwel vrijdagochtend"><input type="hidden" name="vrijdagochtend"-->
<!--                                                     th:value="${vrijdagochtend}">09.00 - 13.00-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--        <td class="kanwel maandagmiddag"><input type="hidden" name="maandagmiddag" value="1">13.00 - 17.00</td>-->
<!--        <td class="kanwel dinsdagmiddag"><input type="hidden" name="dinsdagmiddag" value="1">13.00 - 17.00</td>-->
<!--        <td class="kanwel woensdagmiddag"><input type="hidden" name="woensdagmiddag" value="1">13.00 - 17.00</td>-->
<!--        <td class="kanwel donderdagmiddag"><input type="hidden" name="donderdagmiddag" value="1">13.00 - 17-->
<!--            .00</td>-->
<!--        <td class="kanwel vrijdagmiddag"><input type="hidden" name="vrijdagmiddag" value="1">13.00 - 17.00</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td class="kanwel maandagavond"><input type="hidden" name="maandagavond" value="1">17.00 - 21.00</td>-->
<!--            <td class="kanwel dinsdagavond"><input type="hidden" name="dinsdagavond" value="1">17.00 - 21.00</td>-->
<!--            <td class="kanwel woensdagavond"><input type="hidden" name="woensdagavond" value="1">17.00 - 21.00</td>-->
<!--            <td class="kanwel donderdagavond"><input type="hidden" name="donderdagavond" value="1">17.00 - 21-->
<!--                .00</td>-->
<!--            <td class="kanwel vrijdagavond"><input type="hidden" name="vrijdagavond" value="1">17.00 - 21.00</td>-->
<!--        </tr>-->

<!--    </table>-->
<!--</form>-->


<script>
    // var knopOpslaan = new Opslaan();
    // function Opslaan(){
    //     this.click = function() {
    //         // Hier moet ik een lijst ophalen van alle de td's en hun classes. Die moeten dan via de controller in Java gezet worden.
    //         alert('Uw wijziging is opgeslagen');
    //     }
    // }
    //
    // var knopElement = document.getElementById('knopOpslaan');
    // knopElement.addEventListener('click', knopOpslaan.click);

    document.querySelector("#selectedDate").valueAsDate = new Date();

</script>
</body>
<footer>
</footer>

</html>