<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Solliciteren</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>

<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Bedankt voor uw interesse.</h1>
<p>
<h2>Meer info over de vacature <span th:text="${vacature.vacatureNaam}"/> :</h2>
</p>
<form action="#" th:action="@{/docent/sollicitaties}" th:method="GET">
    <table class="TableFormatter">
        <thead>
        <tr class="ST">
            <th>Vacature</th>
            <th>Aantal Uren</th>
            <th>Vereisten</th>
            <th>Omschrijving</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="ST"><span th:text="${vacature.vacatureNaam}"></span></td>
            <td class="ST"><span th:text="${vacature.aantalUren}"></span></td>
            <td class="ST"><span th:text="${vacature.eisen}"> </span></td>
            <td class="ST"><span th:text="${vacature.omschrijving}"> </span></td>
        </tr>
        </tbody>
    </table>
    <br>
<!--    if statement die aan de hand van de meegegeven soort kijkt welke knop ('solliciteren' of 'afmelden')
je te zien krijgt (Karin)-->

    <span th:if="${soort == 'vacature-overzicht'}"><button type="submit" th:value="${vacature.id}" th:name="id">Solliciteren</button> </span>
    <span th:if="${soort == 'sollicitatie-overzicht'}"><button type="submit" th:value="${vacature.id}" th:name="id">Afmelden</button> </span>

<br>
</form>
<br>
<input type="button" value="Naar overzicht Vacatures" onclick=window.location.pathname="/docent/solliciteren">
<input type="button" value="Naar overzicht Sollicitaties" onclick=window.location.pathname="/docent/sollicitaties-overzicht">
</body>
</html>