<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Solliciteren</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>

<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Bedankt voor uw sollicitatie!</h1>
<p>
<h2>U heeft gesolliciteerd op de volgende vacatures:</h2>

<form action="#" th:action="@{/docent/sollicitaties-details-sollicitatie-overzicht}" th:object="${sollicitatie}" th:method="GET">
    <table class="TableFormatter">
        <thead>
        <tr class="ST">
            <th>Vacature</th>
            <th>Aantal Uren</th>
            <th>Meer info en afmelden</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${sollicitaties.isEmpty()}">
            <td class="ST" colspan="4">U heeft nog op geen enkele vacature gesolliciteerd</td>
        </tr>
        <tr th:each="sollicitatie: ${sollicitaties}">
            <td class="ST"><span th:text="${sollicitatie.getVacature().getVacatureNaam()}">Vacature </span></td>
            <td class="ST"><span th:text="${sollicitatie.getVacature().getAantalUren()}">Aantal Uren </span></td>
            <td class="ST"><span > <button type="submit" th:value="${sollicitatie.getVacature().getVacatureNaam()}" th:name="vacatureNaam">Meer info</button> </span></td>
            <td class="ST"><span th:text="${sollicitatie.getStatus()}"></span> </td>
        </tr>
        </tbody>
    </table>
</form>
<br>
<input onclick=window.location.pathname="/docent/solliciteren"; type="button" value="Terug naar overzicht Vacatures"/>
</body>
</html>