<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4 | Kennisgebieden</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Voorkeuren</h1>
<h2>Geef hier je voorkeur aan met een cijfer tussen de 1 en 3</h2>
<p>1 = liever niet, 2 = als het moet, 3 = graag</p>

<form action="#" th:action="@{/docent/voorkeuren}" th:object="${voorkeur}" method="POST">
    <input id="userId" type="hidden" th:name="user_id" th:value="${user.getId()}">
    <table class="TableFormatter">
        <tr>
            <td><strong><label th:text="Vak"/></strong></td>
            <td>
                <select id="vakkenLijst" onchange="showPreference(this.value)" th:field="*{vak}">
                    <option th:each="vak: ${vakkenLijst}" th:value="${vak.vakId}" th:text="${vak.getVakNaam()}">
                </select>
            </td>
            <td><input class="input_gebruiker" onchange="checkPreference()" id="voorkeurGebruiker" type="number" th:field="*{voorkeurGebruiker}" min="1" max="3"/></td>
            <td><input id="knopOpslaan" type="submit" value="Opslaan"/></td>
        </tr>
    </table>
</form>
<br>
<div id="voorkeuren">

</div>
</body>
<script>
    function showPreference() {
        var selectedCourse = document.getElementById("vakkenLijst").value;
        var currentUser = document.getElementById("userId").value;
        var url = '/ajax/voorkeuren/' + currentUser + '/' + selectedCourse;


        var xhttp;
        if (selectedCourse == "") {/*KILL JFK*/
            document.getElementById("voorkeurGebruiker").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("voorkeurGebruiker").value = this.responseText;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send();
    }
    showPreference();
    showAllPreferences();

    var overzichtVoorkeuren = document.getElementById("voorkeuren");
    function showAllPreferences(){
        var request = new XMLHttpRequest();
        var currentUser = document.getElementById("userId").value;
        var url = '/ajax/voorkeuren/' + currentUser;

        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                var data = JSON.parse(this.responseText);
                maakOverzichtTabel(data);
            }
        }
        request.open("GET", url, true);
        request.send();
    }

    function maakOverzichtTabel(data) {
        var htmlString = "";

        for (i = 0; i < data.length; i++) {
            htmlString += "<p>" + data[i].vak.vakNaam + " voorkeur: " + data[i].voorkeurGebruiker;
        }
        overzichtVoorkeuren.insertAdjacentHTML("beforeend", htmlString);
    }

    function Opslaan(){
        this.click = function() {
            alert('Hartelijk dank!\nVoorkeur is opgeslagen')
        }
    }


    function checkPreference() {
        var preference = document.getElementById('voorkeurGebruiker').value;
        if (preference == 1) {
            Opslaan();
        } else if (preference == 2) {
            Opslaan();
        } else if (preference == 3) {
            Opslaan();
        } else {
            alert('Voer een geldige voorkeur voor tussen de 1 en 3')
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);

</script>
</html>
