<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Overzicht Sollicitaties</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Overzicht van alle vacatures waarop gesolliciteerd is</h1>


    <table class="TableFormatter">
        <tr>
            <th>Vacature</th>
            <th>Sollicitant</th>
            <th>Huidige status</th>
            <th>Nieuwe status</th>
            <th></th>
        </tr>
        <tr th:if="${sollicitaties.isEmpty()}">
            <td class="ST" colspan="4">Niemand heeft nog op een vacature gesolliciteerd</td>
        </tr>
        <tr th:each="sollicitatie: ${sollicitaties}">
            <form action="#" th:action="@{/coordinator/overzicht-sollicitaties}" th:object="${sollicitatie}" th:method="POST">
                <input id="idWaarde" type="hidden" th:value="${sollicitatie.getSollicitatieId()}"
                th:name="sollicitatieId">
                <td><input id="vacature" type="hidden" class="ST"
                           th:text="${sollicitatie.getVacature().getVacatureNaam()}"
                           th:value="${sollicitatie.getVacature().getId()}" th:name="vacature"
                ></td>
            <td><input type="hidden" class="ST" th:text="${sollicitatie.getUser().getFullName()}"
                       th:value="${sollicitatie.getUser().getId()}" th:name="user"></td>
                <td th:value="${sollicitatie.getStatus()}" th:text="${sollicitatie.getStatus()}"></td>
            <td>
                <select id="statusSelect" th:name="status">
                    <option th:each="status: ${statussen}" th:text="${status}" th:value="${status}"></option>
                </select>
            </td>
            <td><button id="submitButton" type="submit">Opslaan</button></td>
            </form>
        </tr>
    </table>
</body>
</html>