<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2>Hier kunt u een rooster aanmaken.</h2>

<form id="cohort" action="#" th:action="@{/coordinator/rooster-maken-cohort-gekozen}" th:method="get">
    <label>Voor welk Cohort wilt u een rooster aanmaken? </label>
    <br><br>
        <select id="geselecteerdeCohort" onclick="checkCohort()" th:name="cohortNaam">
            <option>--Kies een cohort--</option>
            <option th:each="cohort: ${cohorten}" th:value="${cohort.cohortNaam}" th:text="${cohort.cohortNaam}"></option>
        </select>
    <br><br>
    <button type="submit">Kies dit cohort</button>
</form>

</body>
<script>
    function checkCohort() {
        var defaultSelect = "--Kies Cohort--";
        if (document.getElementById("geselecteerdeCohort").value == defaultSelect) {
            alert("Kies alstublief een cohort");
        }
    }

    var gekozenCohort;
    var gekozenVak;
    document.getElementById("selectCohort").onchange=function () {
        selectCohort()
    };
    document.getElementById("maOcht").onchange=function () {
        selectVak("maOcht")
    };
    function selectCohort() {
        gekozenCohort = document.getElementById("selectCohort").value;
        document.getElementById("gekozenCohort").innerHTML="Rooster voor " + gekozenCohort;
    }
    function selectVak(periode) {
        gekozenVak = document.getElementById(periode).value;
        document.getElementById("demo").innerHTML=gekozenVak;
    }


</script>
</html>

