<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Nieuw vak</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Nieuw vak toevoegen</h1>
<p>
<h2>Vul hier de gegevens in van het nieuwe vak:</h2>
</p>
<div id="nieuwVakForm">
    <form action="#" th:action="@{/coordinator/vak-overzicht}" th:method="POST">
        <table class="TableFormatter">
            <tr>
                <td><label>Vaknaam</label></td>
                <td><input class="input_gebruiker" type="text" th:name="vakNaam" required></td>
            </tr>
            <tr>
                <td><label>Aantal uren</label></td>
                <td><input class="input_gebruiker" type="text" th:name="aantalUren" required></td>
            </tr>
            <tr>
                <td></td><td> <button type="submit" onclick="onSubmit()" value="Vak opslaan">Vak Opslaan</button></td>
            </tr>

        </table>

    </form>
</div>
</body>
<script>
    function onSubmit() {
        alert("Hartelijk dank, het nieuwe vak is opgeslagen")

    }
</script>
</html>