<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wijzig Vak</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Wijzig Vak <span th:text="${vak.getVakNaam()}"></span> </h1>
<form action="#" th:action="@{/coordinator/vak-wijzigen}" th:method="POST">
<table th:value="${vak}">
    <tr>
        <th>Vaknaam</th>
        <th>Aantal Uur</th>
    </tr>

</table>
</form>
</body>
</html>