table {
    border: 1px solid black;
    margin-right: auto;
    width: 70%;
    float: left;
    margin-left: 15%;

}
table, tr, th {
    border-collapse: collapse;
    text-align: center;
}
td {
    color: white;
    font-size: 0.8em;
    padding: 6px 5px;
    text-align: center;
}
td.kanwel {
    background-color: green;
}

td.kanniet {
    background-color: red;
}

#knopOpslaan {
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 20px;
}

#semesterSelector {
    margin-left: 10px;
    width: 100%
}