table {
    border: 1px solid black;
    margin-right: auto;
    width: 70%;
    float: left;
    margin-left: 15%;

}
table, tr, th {
    border-collapse: collapse;
    text-align: center;
}
td {
    color: white;
    font-size: 0.8em;
    padding: 6px 5px;
    text-align: center;
}

td.true {
    background-color: green !important;
}

td.false {
    background-color: red !important;
}

#knopOpslaan {
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cohortSelector {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;

}
#cohortSelectorDiv{
    align-content: center;
}