
.randomContent {
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.randomPlaatje {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px
}