form {
    font-size: 1.5em;
    width: 50%;
    margin: auto;
}
input {
    font-size: 0.7em;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 4px;
}
input[type=submit] {
    font-size: 0.6em;
    width: auto;
}
input[value=Inloggen] {
    font-size: 0.6em;
}

#nieuwegebruikerform {
    .center
}