form {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;

}

td {
    text-align: left;
    margin: 8px 0;
    margin-right: 50px;
    margin-left: 50px;
}


input, select {
    font-size: 0.8em;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    float: right;
    width: 300px;
}

input[type=submit] {
    font-size: 0.8em;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
    float: right;
    width: 300px;
}

