body {
    background-image: url("/images/hva_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: darkblue;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    z-index: 1;
    padding: 40px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer a {
    background: darkblue;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 14px;
    text-decoration: none;
}

footer a:hover {
    background: white;
    border: 1px solid darkblue;
    color: darkblue;
    border-radius: 10px;
}


#demo {
    font-style: italic;
    font-size: 1em;
    padding: 20px;

}

#TableFormatter{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px;
    border: 1px solid darkblue;

}

.ST {
    text-align: center;
    width: auto;
    margin: 120%;
    padding: 15px;
    border: 1px solid darkblue;
    color: black;
}



