body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    background-color: darkblue;
    font-style: italic;
    padding: 20px;
    width: 100%;
}

footer {
    background-color: darkblue;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 5px;
    z-index: 5;

}
footer h3 {
    display: inline-block;
    margin: 20px 40px;
    font-size: 14px;
    color: white;
}


#SollicitatieTabel {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

.ST {
    border: 1px solid black;
    border-collapse: collapse;
}