#voorkeurTabel {
    border: 1px solid black;
    width: 70%;
}

#voorkeurTabel, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#voorkeurTabel td {
    border: 1px solid black;
    font-size: 0.8em;
    padding: 10px 5px;
    text-align: center;
}

#knopOpslaan {
    margin-right: 40%;
    margin-left: 60%;
}