#voorkeurTabel {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#voorkeurTabel, tr, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#voorkeurTabel td {
    border: 1px solid black;
    font-size: 0.8em;
    padding: 10px 5px;
    text-align: center;
}

#knopOpslaan {
    margin-right: 20%;
    margin-left: 80%;
}