<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4  |  Koppel Docenten</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<style>
    .TableFormatter td {
        border: 1px solid white;
    }
</style>

<h1>Koppel Docenten voor <span th:text="${cohort.getCohortNaam()}"></span></h1>
<form id="gevuldeWeek1" action="#" th:action="@{/roosteraar/docenten-koppelen-gekozen-cohort}" th:object="${cohort}" method="POST">
    <table class="TableFormatter">
        <input name="cohortNaam" type="hidden" th:value="${cohort.getCohortNaam()}">
        <thead>
        <input type="hidden" th:value="${voorkeuren}" id="voorkeuren">
        <th><select id="week" name="week" onchange="loadVakken();loadDocenten()">
            <option value="geenKeuze">--Kies een week--</option>
            <option th:each="week : ${weken}" th:value="${week.getId()}" th:text="${week.getWeekNummerTekst()}"></option>
        </select></th>
        <th>Maandag</th>
        <th>Dinsdag</th>
        <th>Woensdag</th>
        <th>Donderdag</th>
        <th>Vrijdag</th>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2">Ochtend<br>09:00-13:00</td>
            <td id="vakMaO" >Geen Les</td>
            <td id="vakDiO" >Geen Les</td>
            <td id="vakWoO" >Geen Les</td>
            <td id="vakDoO" >Geen Les</td>
            <td id="vakVrO" >Geen Les</td>
        </tr>
        <tr>
            <td><select id="docMaO" th:name="maOch" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${MAO}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDiO" th:name="diOch" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DIO}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docWoO" th:name="woOch" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${WOO}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDoO" th:name="doOch" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DOO}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docVrO" th:name="vrOch" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${VRO}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
        </tr>
        <tr>
            <td rowspan="2">Middag<br>13:00-17:00</td>
            <td id="vakMaM" >Geen Les</td>
            <td id="vakDiM" >Geen Les</td>
            <td id="vakWoM" >Geen Les</td>
            <td id="vakDoM" >Geen Les</td>
            <td id="vakVrM" >Geen Les</td>
        </tr>
        <tr>
            <td><select id="docMaM" th:name="maMid" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${MAM}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDiM" th:name="diMid" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DIM}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docWoM" th:name="woMid" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${WOM}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDoM" th:name="doMid" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DOM}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docVrM" th:name="vrMid" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${VRM}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
        </tr>
        <tr>
            <td rowspan="2">Avond<br>17:00-21:00</td>
            <td id="vakMaA" >Geen Les</td>
            <td id="vakDiA" >Geen Les</td>
            <td id="vakWoA" >Geen Les</td>
            <td id="vakDoA" >Geen Les</td>
            <td id="vakVrA" >Geen Les</td>
        </tr>
        <tr>
            <td><select id="docMaA" th:name="maAvo" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${MAA}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDiA" th:name="diAvo" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DIA}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docWoA" th:name="woAvo" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${WOA}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docDoA" th:name="doAvo" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${DOA}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
            <td><select id="docVrA" th:name="vrAvo" onchange="this.className=this.options[this.selectedIndex].className">
                <option th:each="docent: ${VRA}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}" th:name="${docent.getId()}">
            </select></td>
        </tr>
        </tbody>
    </table>
    <br>
    <button id="submitButton" type="submit">Sla week op</span></button>

</form>

<h2 id="gevuldeWeek3">Hieronder een overzicht van alle weken van dit cohort</h2>
<h3>Klik op de week waarvoor je een rooster wilt maken om het rooster zonder docenten in te laden. <br>Vervolgens kun je docenten koppelen aan de vakken die in het rooster staan.</h3>

<th:block th:each="week: ${weken}">
    <table class="TableFormatter">
        <thead>
        <tr colspan="2">
            <th>Weeknummer</th>
            <th>Maandag</th>
            <th>Dinsdag</th>
            <th>Woensdag</th>
            <th>Donderdag</th>
            <th>Vrijdag</th>
        </tr>
        <tr>
            <td th:text="${week.getWeekNummer()}"></td>
            <td th:text="${week.getMaandag().getDatum()}"></td>
            <td th:text="${week.getDinsdag().getDatum()}"></td>
            <td th:text="${week.getWoensdag().getDatum()}"></td>
            <td th:text="${week.getDonderdag().getDatum()}"></td>
            <td th:text="${week.getVrijdag().getDatum()}"></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2" th:value="ochtend">9:00 - 13:00</td>
            <td th:text="${week.getMaandag().getOchtend().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDinsdag().getOchtend().getVak().getVakNaam()}"></td>
            <td th:text="${week.getWoensdag().getOchtend().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDonderdag().getOchtend().getVak().getVakNaam()}"></td>
            <td th:text="${week.getVrijdag().getOchtend().getVak().getVakNaam()}"></td>
        </tr>
        <tr>
            <td th:text="${week.getMaandag().getOchtend().getDocent().getFullName()}"></td>
            <td th:text="${week.getDinsdag().getOchtend().getDocent().getFullName()}"></td>
            <td th:text="${week.getWoensdag().getOchtend().getDocent().getFullName()}"></td>
            <td th:text="${week.getDonderdag().getOchtend().getDocent().getFullName()}"></td>
            <td th:text="${week.getVrijdag().getOchtend().getDocent().getFullName()}"></td>
        </tr>
        <tr>
            <td rowspan="2" th:value="middag">13:00 - 17:00</td>
            <td th:text="${week.getMaandag().getMiddag().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDinsdag().getMiddag().getVak().getVakNaam()}"></td>
            <td th:text="${week.getWoensdag().getMiddag().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDonderdag().getMiddag().getVak().getVakNaam()}"></td>
            <td th:text="${week.getVrijdag().getMiddag().getVak().getVakNaam()}"></td>
        </tr>
        <tr>
            <td th:text="${week.getMaandag().getMiddag().getDocent().getFullName()}"></td>
            <td th:text="${week.getDinsdag().getMiddag().getDocent().getFullName()}"></td>
            <td th:text="${week.getWoensdag().getMiddag().getDocent().getFullName()}"></td>
            <td th:text="${week.getDonderdag().getMiddag().getDocent().getFullName()}"></td>
            <td th:text="${week.getVrijdag().getMiddag().getDocent().getFullName()}"></td>
        </tr>
        <tr>
            <td rowspan="2" th:value="avond">17:00 - 21:00</td>
            <td th:text="${week.getMaandag().getAvond().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDinsdag().getAvond().getVak().getVakNaam()}"></td>
            <td th:text="${week.getWoensdag().getAvond().getVak().getVakNaam()}"></td>
            <td th:text="${week.getDonderdag().getAvond().getVak().getVakNaam()}"></td>
            <td th:text="${week.getVrijdag().getAvond().getVak().getVakNaam()}"></td>
        </tr>
        <tr>
            <td th:text="${week.getMaandag().getAvond().getDocent().getFullName()}"></td>
            <td th:text="${week.getDinsdag().getAvond().getDocent().getFullName()}"></td>
            <td th:text="${week.getWoensdag().getAvond().getDocent().getFullName()}"></td>
            <td th:text="${week.getDonderdag().getAvond().getDocent().getFullName()}"></td>
            <td th:text="${week.getVrijdag().getAvond().getDocent().getFullName()}"></td>
        </tr>
        </tbody>
    </table>
    <br>
</th:block>

<script>
    function logWeekId() {
        var weekId = document.getElementById("week").value;
        console.log("weekId: " + weekId);
    }

    function loadVakken() {
        var request = new XMLHttpRequest();
        var selectedWeek = document.getElementById("week").value;
        var url = '/ajax/coordinator/rooster-maken-cohort-gekozen-karin/' + selectedWeek;
        console.log(url);
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                document.getElementById("vakMaO").innerHTML = data[0];
                document.getElementById("vakMaM").innerHTML = data[1];
                document.getElementById("vakMaA").innerHTML = data[2];
                document.getElementById("vakDiO").innerHTML = data[3];
                document.getElementById("vakDiM").innerHTML = data[4];
                document.getElementById("vakDiA").innerHTML = data[5];
                document.getElementById("vakWoO").innerHTML = data[6];
                document.getElementById("vakWoM").innerHTML = data[7];
                document.getElementById("vakWoA").innerHTML = data[8];
                document.getElementById("vakDoO").innerHTML = data[9];
                document.getElementById("vakDoM").innerHTML = data[10];
                document.getElementById("vakDoA").innerHTML = data[11];
                document.getElementById("vakVrO").innerHTML = data[12];
                document.getElementById("vakVrM").innerHTML = data[13];
                document.getElementById("vakVrA").innerHTML = data[14];
                voorkeurenLaden();
            }
        };
        request.open("GET", url, true);
        request.send();
    }

    function loadDocenten() {
        var request = new XMLHttpRequest();
        var weeknr = document.getElementById("week").value;
        var url = '/ajax/roosteraar/docenten-koppelen-gekozen-cohort/' + weeknr;
        console.log("load docenten: " + url);
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText);
                document.getElementById("docMaO").value = data[0];
                document.getElementById("docMaM").value = data[1];
                document.getElementById("docMaA").value = data[2];
                document.getElementById("docDiO").value = data[3];
                document.getElementById("docDiM").value = data[4];
                document.getElementById("docDiA").value = data[5];
                document.getElementById("docWoO").value = data[6];
                document.getElementById("docWoM").value = data[7];
                document.getElementById("docWoA").value = data[8];
                document.getElementById("docDoO").value = data[9];
                document.getElementById("docDoM").value = data[10];
                document.getElementById("docDoA").value = data[11];
                document.getElementById("docVrO").value = data[12];
                document.getElementById("docVrM").value = data[13];
                document.getElementById("docVrA").value = data[14];
                voorkeurenLaden();
            }
        };
        request.open("GET", url, true);
        request.send();
    }

    document.addEventListener("click", function (ev) {
        var selector = ev.target;
        var parent1 = selector.parentNode;
        var parent1CellIndex = parent1.cellIndex;
        var parent2 = parent1.parentNode;
        var vorigeTableRow = parent2.previousElementSibling;
        var kiendjes = vorigeTableRow.childNodes;
        var kiendjeBoven = kiendjes[krijgPrevNodeIndex(parent1CellIndex)];

        var selectors = window.document.getElementsByTagName("select");

        if (selector.id !== "week") {
            if (selector.tagName === "SELECT") {
                // wipeClassesSelectAndOptions(selectors);

                var options = selector.options;
                console.log("vak: " + kiendjeBoven.innerText);
                for (var i = 0; i < options.length; i++) {
                    console.log("-->" + options[i].text + ", class: " + options[i].className);
                }
            }
        }
    });

    function voorkeurenLaden() {
        var VOORKEUR = 0;
        var USER = 1;
        var VAK = 2;

        //De trojaanse string wordt opgehaald en gesplitst in Vookeur-objectcombinaties.
        var voorkeuren = document.getElementById("voorkeuren").getAttribute("value");
        var gesplitsteVoorkeuren = voorkeuren.split(",");

        var selectors = window.document.getElementsByTagName("select");
        wipeClassesSelectAndOptions(selectors);

        for (var j = 0; j < selectors.length; j++) {
            if (selectors[j].id !== "week") {
                getVoorkeuren(selectors[j]);
            }
        }

        function getVoorkeuren(tagname) {
            //De voorkeurskleur wordt pas bij mouseover gegenereerd.
            //De onderstaande vars zijn nodig om de id van de vaknaam boven de SELECT op te halen. Deze is nodig om met de
            //vakId in de Voorkeurscombinatie op te halen.
            var selector = tagname;
            var parent1 = selector.parentNode;
            var parent1CellIndex = parent1.cellIndex;
            var parent2 = parent1.parentNode;
            var vorigeTableRow = parent2.previousElementSibling;
            var kiendjes = vorigeTableRow.childNodes;
            // console.log("parent: "+ parent1 + ", index: " + parent1CellIndex);
            // for (var i = 0; i < kiendjes.length; i++) {
            //     console.log("kiendje " + (i+1) + ": " + kiendjes[i].textContent);
            // }
            var kiendjeBoven = kiendjes[krijgPrevNodeIndex(parent1CellIndex)];
            // console.log("kiendje boven: " + kiendjeBoven);
            // console.log("index = " + krijgPrevNodeIndex(parent1CellIndex));
            // console.log("kiendje boven: " + kiendjes[krijgPrevNodeIndex(parent1CellIndex)]);
            // console.log("kiendje boven: " + kiendjeBoven.textContent);

            var checkVakValue = kiendjeBoven.innerText;
            var opties = selector.options;


            //Hier worden de Voorkeurscombi's opgesplitst.
            for (var i = 0; i < gesplitsteVoorkeuren.length; i++) {
                var voorkeurgroep = gesplitsteVoorkeuren[i].split("_");
                var voorkeur = voorkeurgroep[VOORKEUR];
                var user = voorkeurgroep[USER];
                var vak = voorkeurgroep[VAK];

                // console.log("Voorkeur nr. " + (i+1) + ": " + checkVakValue + " = " + vak);
                // console.log("");

                toonVoorkeur(voorkeur, user, vak, checkVakValue, opties);
            }

            for (var j = 0; j < opties.length; j++) {
                if (opties[j].className === '') {
                    opties[j].classList.add('geenkeuze');
                }
            }
        };
    }

    function krijgPrevNodeIndex(index) {
        //Deze curieuze berekening is nodig omdat het aantal childnodes in de vak-regels in de tabel hoger is:
        //ook de lege tekstvelden worden in de childnode-array opgenomen.
        return (index + 1) * 2 + 1;
    }

    function toonVoorkeur(voorkeur, user, vak, checkVak, opties) {
        if (vak === checkVak) {
            if (voorkeur == 3) {
                voorkeurAanhechten(voorkeur, opties, user, 'graag');
            } else if (voorkeur == 2) {
                voorkeurAanhechten(voorkeur, opties, user, 'mwa');
            } else if (voorkeur == 1) {
                voorkeurAanhechten(voorkeur, opties, user, 'lieverniet');
            } else {
                voorkeurAanhechten(0, opties, user, 'geenkeuze');
            }
        }
    }

    function voorkeurAanhechten(voorkeur, opties, user, voorkeursklasse) {
        for (var j = 0; j < opties.length; j++) {
            if (opties[j].value == user) {
                opties[j].classList.add(voorkeursklasse);
                opties[j].innerHTML = oudVoorkeurcijferVerwijderen(opties[j]);
                if (voorkeur > 0) {
                    opties[j].innerHTML += ": " + voorkeur;
                }
            }
        }
    }

    //Werkt ook nog niet. Waarom??
    function oudVoorkeurcijferVerwijderen(string) {
        var tekst = string.innerHTML;
        var lastChar = tekst.slice(-1);
        console.log("tekst: " + tekst + "; lastChar: " + lastChar);
        if (lastChar == 3) {
            tekst = tekst.replace(": 3", "");
            console.log("aangepast naar: " + tekst);
        } else if (lastChar == 2) {
            tekst = tekst.replace(": 2", "");
            console.log("aangepast naar: " + tekst);
        } else if (lastChar == 1) {
            tekst = tekst.replace(": 1", "");
            console.log("aangepast naar: " + tekst);
        }
        return tekst;
    }
//Er is een tweetal problemen op het moment:
    //1. De Voorkeur ophalen loopt altijd één stap achter op ajax
    //2. Onderstaande methode werkt nog niet.
    function wipeClassesSelectAndOptions(array) {
        for (var i = 0; i < array.length; i++) {
            if (array[i].id !== "week") {
                console.log("Classes voor het verwijderen: " + array[i].className);
                // array[i].classList.remove("graag", "mwa", "lieverniet", "geenkeuze");
                array[i].className = "";
                console.log("Classes na het verwijderen: " + array[i].className);
                var nextArray = array[i].options;
                // try {
                //     var nextArray = array[i].options;
                //     Array.apply(null, nextArray);
                // } catch (e) {
                //     console.log("not an array x_x");
                // }
                // var checker = nextArray instanceof Array;
                // console.log("Is nextArray een array..? " + checker); //is een array...

                try {
                    if (nextArray.length > 1) {
                        console.log("Ja, er zit nog een array in.");
                        wipeClassesSelectAndOptions(nextArray);
                    } else {
                        console.log("Dat was het: de arrays zijn op.");
                    }
                } catch (error) {
                    console.log("not an array x_x");
                }

            }
        }
    }


</script>

</body>
</html>
