<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Beschikbaarheid</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="algemene-beschikbaarheid.css">
    <link rel="stylesheet" type="text/css" href="header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Beschikbaarheid opgeven</h1>
<h2>Geef je algemene beschikbaarheid op.</h2>
<form id="hiddenForm" action="#" th:action="@{/algemene-beschikbaarheid}" th:object="${semester}" method = post>
    <div id="semesterSelectorDiv">
    <label  for="semesterSelector">Selecteer semester</label><br/>
    <select id="semesterSelector" name="gekozenSemester">
        <option th:each="semester : ${semesters}" th:text="${semester.getSemesterNaam()}"></option>
    </select>
    </div>


    <table id="deTabel">
        <tr>
            <th>maandag</th>
            <th>dinsdag</th>
            <th>woensdag</th>
            <th>donderdag</th>
            <th>vrijdag</th>
        </tr>
        <tr>
            <td class="kanwel maandagochtend"><input type="hidden" name="maandagochtend" value="1">09:00-13:00</td>
            <td class="kanwel dinsdagochtend"><input type="hidden" name="dinsdagochtend" value="1">09:00-13:00</td>
            <td class="kanwel woensdagochtend"><input type="hidden" name="woensdagochtend" value="1">09:00-13:00</td>
            <td class="kanwel donderdagochtend"><input type="hidden" name="donderdagochtend" value="1">09:00-13:00</td>
            <td class="kanwel vrijdagochtend"><input type="hidden" name="vrijdagochtend" value="1">09:00-13:00</td>
        </tr>
        <tr>
            <td class="kanwel maandagmiddag"><input type="hidden" name="maandagmiddag" value="1">13:00-17:00</td>
            <td class="kanwel dinsdagmiddag"><input type="hidden" name="dinsdagmiddag" value="1">13:00-17:00</td>
            <td class="kanwel woensdagmiddag"><input type="hidden" name="woensdagmiddag" value="1">13:00-17:00</td>
            <td class="kanwel donderdagmiddag"><input type="hidden" name="donderdagmiddag" value="1">13:00-17:00</td>
            <td class="kanwel vrijdagmiddag"><input type="hidden" name="vrijdagmiddag" value="1">13:00-17:00</td>
        </tr>
        <tr>
            <td class="kanwel maandagavond"><input type="hidden" name="maandagavond" value="1">17:00-21:00</td>
            <td class="kanwel dinsdagavond"><input type="hidden" name="dinsdagavond" value="1">17:00-21:00</td>
            <td class="kanwel woensdagavond"><input type="hidden" name="woensdagavond" value="1">17:00-21:00</td>
            <td class="kanwel donderdagavond"><input type="hidden" name="donderdagavond" value="1">17:00-21:00</td>
            <td class="kanwel vrijdagavond"><input type="hidden" name="vrijdagavond" value="1">17:00-21:00</td>
        </tr>
    </table>
        <button id="knopOpslaan" type="submit" value="Submit">Opslaan</button>
</form>



<script>
    var deTabel = document.querySelector('#deTabel');

    deTabel.addEventListener('click', function(e) {
        var td = e.target;
        if (td.tagName === 'TD') {
            e.target.classList.toggle('kanwel');
            e.target.classList.toggle('kanniet');

            if (e.target.classList.contains('kanwel')) {
                td.firstChild.value = '1';
            } else {
                td.firstChild.value = '0';
            }
        }
        console.log(td.firstChild.value);
    })

    /*Knop voor het opslaan van data*/
    function Opslaan(){
        this.click = function() {
            // Hier moet ik een lijst ophalen van alle de td's en hun classes. Die moeten dan via de controller in Java gezet worden.
            alert('Algemene beschikbaarheid is opgeslagen');
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);
</script>
</body>
<footer>
</footer>

</html>