<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Beschikbaarheid</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/algemene-beschikbaarheid.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Beschikbaarheid opgeven</h1>
<h2>Geef je algemene beschikbaarheid op.</h2>

<form action="#" th:action="@{/docent/algemene-beschikbaarheid-ander-cohort}" th:object="${standaardWeek}" method = post>
    <div id="semesterSelectorDiv">
        <label for="semesterSelector">Selecteer cohort</label><br/>
    <select id="semesterSelector" name="gekozenSemester" onchange="haalCohortOp(this.value)">
        <option id="semesterOptie" th:each="semester : ${semesters}" th:text="${semester.getSemesterNaam()}"
                th:value="${semester.getSemesterNaam()}" th:name="${actiefSemester}"></option>
    </select>
    </div>
</form>

<form id="hiddenForm" action="#" th:action="@{/docent/algemene-beschikbaarheid-updaten}" th:object="${standaardWeek}" method = post>
    <input id="copycat" type="hidden" name="gekozenSemester" value="">
    <table id="deTabel">
        <tr>
            <th>maandag</th>
            <th>dinsdag</th>
            <th>woensdag</th>
            <th>donderdag</th>
            <th>vrijdag</th>
        </tr>
        <tr>
            <td th:class="*{getMaandag().ochtend}"><input type="hidden" name="maandagochtend" th:value="*{getMaandag().ochtend}">09:00-13:00</td>
            <td th:class="*{getDinsdag().ochtend}"><input type="hidden" name="dinsdagochtend" th:value="*{getDinsdag().ochtend}">09:00-13:00</td>
            <td th:class="*{getWoensdag().ochtend}"><input type="hidden" name="woensdagochtend" th:value="*{getWoensdag().ochtend}">09:00-13:00</td>
            <td th:class="*{getDonderdag().ochtend}"><input type="hidden" name="donderdagochtend" th:value="*{getDonderdag().ochtend}">09:00-13:00</td>
            <td th:class="*{getVrijdag().ochtend}"><input type="hidden" name="vrijdagochtend" th:value="*{getVrijdag().ochtend}">09:00-13:00</td>
        </tr>
        <tr>
            <td th:class="*{getMaandag().middag}"><input type="hidden" name="maandagmiddag" th:value="*{getMaandag().middag}">13:00-17:00</td>
            <td th:class="*{getDinsdag().middag}"><input type="hidden" name="dinsdagmiddag" th:value="*{getDinsdag().middag}">13:00-17:00</td>
            <td th:class="*{getWoensdag().middag}"><input type="hidden" name="woensdagmiddag" th:value="*{getWoensdag().middag}">13:00-17:00</td>
            <td th:class="*{getDonderdag().middag}"><input type="hidden" name="donderdagmiddag" th:value="*{getDonderdag().middag}">13:00-17:00</td>
            <td th:class="*{getVrijdag().middag}"><input type="hidden" name="vrijdagmiddag" th:value="*{getVrijdag().middag}">13:00-17:00</td>
        </tr>
        <tr>
            <td th:class="*{getMaandag().avond}"><input type="hidden" name="maandagavond" th:value="*{getMaandag().avond}">17:00-21:00</td>
            <td th:class="*{getDinsdag().avond}"><input type="hidden" name="dinsdagavond" th:value="*{getDinsdag().avond}">17:00-21:00</td>
            <td th:class="*{getWoensdag().avond}"><input type="hidden" name="woensdagavond" th:value="*{getWoensdag().avond}">17:00-21:00</td>
            <td th:class="*{getDonderdag().avond}"><input type="hidden" name="donderdagavond" th:value="*{getDonderdag().avond}">17:00-21:00</td>
            <td th:class="*{getVrijdag().avond}"><input type="hidden" name="vrijdagavond" th:value="*{getVrijdag().avond}">17:00-21:00</td>
        </tr>
    </table>
        <button id="knopOpslaan" type="submit" value="Submit">Opslaan</button>
</form>



<script>
    var deTabel = document.querySelector('#deTabel');

    deTabel.addEventListener('click', function(e) {
        var td = e.target;
        if (td.tagName === 'TD') {
            e.target.classList.toggle('true');
            e.target.classList.toggle('false');

            if (e.target.classList.contains('true')) {
                td.firstChild.value = 'true';
            } else {
                td.firstChild.value = 'false';
            }
        }
        console.log(td.firstChild.value);
    })

    //Dit zorgt ervoor dat de twee formulieren gekoppeld zijn.
    var copycat = document.querySelector('#copycat');
    var semesterSelector = document.querySelector('#semesterSelector')
    copycat.value = semesterSelector.options[semesterSelector.selectedIndex].value;



    //AJAX

    // function haalCohortOp(str) {
    //     var request;
    //     if(window.XMLHttpRequest) {
    //         request = new XMLHttpRequest();
    //     } else {
    //         request = new ActiveXObject("Microsoft.XMLHTTP");
    //     }
    //     request.onreadystatechange = function() {
    //         if (this.readyState == 4 && this.status == 200) {
    //             copycat.value = this.responseText;
    //         }
    //     };
    //     request.open("GET", "URL", true);
    //     request.post;
    // }



    /*Knop voor het opslaan van data*/
    function Opslaan(){
        this.click = function() {
            // Hier moet ik een lijst ophalen van alle de td's en hun classes. Die moeten dan via de controller in Java gezet worden.
            alert('Algemene beschikbaarheid is opgeslagen');
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);
</script>
</body>
<footer>
</footer>

</html>