<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4  |  Koppel Docenten</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body onload="hideVorigeWeekButton();addWeekNumber()">
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Koppel Docenten</h1>
<h2>Koppel in dit scherm docenten aan de vakken</h2>
<br>
<select id="geselecteerdeCohort" onchange="getAmountOfWeeksCohort()">
    <option>--Kies Cohort--</option>
    <option th:each="cohort: ${cohortList}" th:value="${cohort.getId()}" th:text="${cohort.getCohortNaam()}">
</select>
<br>
<h5 id="weekNummer" onchange="counter"></h5>
<script>

</script>
<form action="#" th:action="@{/roosteraar/docent-koppelen}" th:object="${user}" method="POST">
<table id="TableFormatter">
    <thead>
    <tr>
        <th>dagdeel</th>
        <th>maandag</th>
        <th>dinsdag</th>
        <th>woensdag</th>
        <th>donderdag</th>
        <th>vrijdag</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="2" th:value="ochtend">9:00 - 13:00</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
    </tr>
    <tr>
        <td><select id="maOch" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="diOch" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="woOch" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="doOch" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="vrOch" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
    </tr>
    <tr>
        <td rowspan="2" th:value="middag">13:00 - 17:00</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
    </tr>
    <tr>
        <td><select id="maMid" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="diMid" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="woMid" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="doMid" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="vrMid" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
    </tr>
    <tr>
        <td rowspan="2" th:value="avond">17:00 - 21:00</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
        <td>Vak</td>
    </tr>
    <tr>
        <td><select id="maAvo" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="diAvo" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="woAvo" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="doAvo" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
        <td><select id="vrAvo" th:name="vakken">
            <option>--Kies docent--</option>
            <option th:each="docent: ${docentList}" th:value="${docent.getId()}" th:text="${docent.getFirstName() + ' ' + docent.getLastName()}">
        </select></td>
    </tr>
    </tbody>
</table>
    <br>
        <input id="knopOpslaan" type="submit" value="Opslaan"/>



</form>
<br>
<button id="knopVorigeWeek" onclick="subtractCounter();addWeekNumber();hideVorigeWeekButton()">Vorige Week</button>      <button id="knopVolgendeWeek" onclick="addCounter();hideVolgendeWeekButton();addWeekNumber()">Volgende Week</button>

</body>

<script>
    function getAmountOfWeeksCohort() {
        var selectedCohort = document.getElementById("geselecteerdeCohort").value;
        var selectedIndice = document.getElementById("geselecteerdeCohort").selectedIndex;
        var url = '/ajax/roosteraar/docent-koppelen/' + selectedCohort;

        var xhttp;
        if (selectedCohort == "") {
            document.getElementById("geselecteerdeCohort").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("geselecteerdeCohort").value = this.responseText;
                document.getElementById("geselecteerdeCohort").selectedIndex = selectedIndice;
                hideVorigeWeekButton();
                hideVolgendeWeekButton();
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send();
    }

    var counter = 1;

    function addCounter() {
        if (document.getElementById("knopVolgendeWeek").onclick) {
            counter++;
            console.log('Volgende week is geklikt, counter waarde: ' + counter);
        }
    }

    function subtractCounter() {
        if (document.getElementById("knopVorigeWeek").onclick) {
            counter--;
            console.log('Vorige week is geklikt, counter waarde: ' + counter);
        }
    }

    function hideVorigeWeekButton() {
        if (counter <= 1) {
            document.getElementById("knopVorigeWeek").style.visibility = "hidden";
        } else {
            document.getElementById("knopVorigeWeek").style.visibility = "visible";
        }
    }

    function hideVolgendeWeekButton() {
        if (counter == getAmountOfWeeksCohort()) {
            document.getElementById("knopVolgendeWeek").style.visibility = "hidden";
        }
    }

    function addWeekNumber() {
        var x = document.getElementById("weekNummer");
        x.innerText = "Week " + counter;
    }
</script>
</html>