<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/error.css">
</head>
<body>

<p id="pageBody"></p>

<form action="/home">
    <button id=home type="submit">Ga terug naar home</button>
</form>


<script>
    var randomContent = [
        '<div id="item1">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/1Bix44C1EzY?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div id="item2">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/fmz-K2hLwSI?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div id="item3">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/sXyyyDjeOTU?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div id="item4">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/_S7WEVLbQ-Y?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div id="item5">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/AOAtz8xWM0w?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div id="item6">\n' +
        '<iframe width="840" height="630"\n' +
        'src="https://www.youtube.com/embed/qbWqXKN3m3c?autoplay=1">\n' +
        '</iframe>' +
        '</div>',

        '<div>' +
        '<iframe width="860" height="630"' +
        'src="https://www.youtube.com/embed/NAh9oLs67Cw?autoplay=1">' +
        '</iframe>' +
        '</div>',

        '<div>' +
        '<iframe width="860" height="630"' +
        'src="https://www.youtube.com/embed/BW1aX0IbZOE?autoplay=1">' +
        '</iframe>' +
        '</div>'

    ];

    function toonRandomContent(){
        var randomItem = Math.floor(Math.random() * randomContent.length);
        document.getElementById("pageBody").innerHTML = randomContent[randomItem];
    }

    function goHome(){
        window.location.pathname = "/home"
    }

    toonRandomContent();
    
</script>
</body>
</html>