<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/error.css">
</head>
<body>

<p id="pageBody"></p>

<script>
    var randomContent = [
        '<div class="item1">\n' +
        '    <a href="/home"><img src="https://media.giphy.com/media/XrNry0aqYWEhi/giphy.gif" border="0" alt="nuclear explosion"\n' +
        '                         style="display:block;\n' +
        '                         width:20%;\n' +
        '                         height:auto;\n' +
        '                         margin-left: auto;\n' +
        '                         margin-right:auto;\n' +
        '                         margin-bottom: 0px"></a>\n' +
        '</div>',
        '<div id="item2" class="randomContent" style="margin-top: 0px;\n' +
        '                font-size: 6em">\n' +
        '    <p onclick="goHome()">(╯°□°）╯︵ ┻━┻\n</p>' +
        '    <br/>\n' +
        '</div>',
        '<div id="item3">\n' +
        '    <h2 style="font-size: 3em; margin-left: 20%" onclick="goHome()"><br/><i>uhm...</i> </h2><br/>\n' +
        '    <h1 style="font-size: 12em; font-family: Impact; text-align: center; margin-top: 0" onclick="goHome()">NEE .</h1>\n' +
        '    <br/>\n' +
        '</div>'
    ];

    function toonRandomContent(){
        var randomItem = Math.floor(Math.random() * 3);
        document.getElementById("pageBody").innerHTML = randomContent[randomItem];
    }

    function goHome(){
        window.location.pathname = "/home"
    }

    toonRandomContent();
    
</script>
</body>
</html>