<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="navbar" id="header" th:fragment="copy">
    <a href="/home"><img src="/images/home-icon-white_338306.png" alt="HOME" height="24" width="24"></a>
    <a sec:authorize="hasAuthority('ROLEROOSTERAAR')" href="/roosteraar/docenten-koppelen-kies-cohort">Maak het rooster</a>
    <a sec:authorize="hasAuthority('ROLEDOCENT')" href="/docent/voorkeuren">Kennis administreren</a>
    <a sec:authorize="hasAuthority('ROLEDOCENT')" href="/docent/solliciteren">Solliciteren</a>
    <div sec:authorize="hasAuthority('ROLEDOCENT')" class="dropdown">
        <button class="dropbtn">Beschikbaarheden
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/docent/algemene-beschikbaarheid">Algemene beschikbaarheid</a>
            <a href="/docent/incidentregistratie">Incidentregistratie</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Cohortbeheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/maakcohort">Maak een cohort aan</a>
            <a href="/admin/overzicht-cohort">Overzicht cohorten</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Gebruikersbeheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/overzicht-gebruikers">Beheer gebruikers</a>
            <a href="/admin/nieuwe-gebruiker">Maak een nieuwe gebruiker aan</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Vacaturebeheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/nieuwe-vacature">Maak een nieuwe vacature aan</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLECOORDINATOR')" class="dropdown">
        <button class="dropbtn">Coordineren
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/coordinator/vak-aanmaken">Maak vak aan</a>
            <a href="/coordinator/rooster-maken-karin">Maak rooster voor cohort</a>
        </div>
    </div>
    <a style="float:right" href="/logout"><img src="/images/logout.png" height="24" width="24"></a>
    <a style="float:right" href="/profiel"><img src="/images/account.png" height="24" width="24"></a>
</div>

</body>
</html>







