<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header" id="header" th:fragment="copy">
    <a href="index.html">Home</a>
    <a href="algemene-beschikbaarheid">Beschikbaarheid opgeven</a>
    <a href="incidentregistratie">Incidentregistratie</a>
    <a href="voorkeuren">Kennis administreren</a>
    <a href="solliciteren">Solliciteren</a>
    <a href="/maaksemester">Maak een semester aan</a>
    <a href="/logout">Uitloggen</a>
</div>

</div>
</body>
</html>





