<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="navbar" id="header" th:fragment="copy">
    <a href="/home">Home</a>
    <a sec:authorize="hasAuthority('ROLEROOSTERAAR')" href="/roosteraar/maak-rooster">Maak het rooster</a>
    <a sec:authorize="hasAuthority('ROLEDOCENT')" href="/docent/voorkeuren">Kennis administreren</a>
    <a sec:authorize="hasAuthority('ROLEDOCENT')" href="/docent/solliciteren">Solliciteren</a>
    <div sec:authorize="hasAuthority('ROLEDOCENT')" class="dropdown">
        <button class="dropbtn">Beschikbaarheden
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/docent/algemene-beschikbaarheid">Algemene beschikbaarheid</a>
            <a href="/docent/incidentregistratie">Incidentregistratie</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Cohort-beheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/maakcohort">Maak een cohort aan</a>
            <a href="/admin/overzicht-cohort">Overzicht cohorten</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Gebruikers-beheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/overzicht-gebruikers">Beheer gebruikers</a>
            <a href="/admin/nieuwe-gebruiker">Maak een nieuwe gebruiker aan</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEADMIN')" class="dropdown">
        <button class="dropbtn">Vacature-beheer
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/admin/nieuwe-vacature">Maak een nieuwe vacature aan</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ROLEMANAGER')" class="dropdown">
        <button class="dropbtn">Managen
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/manager/vak-aanmaken">Maak vak aan</a>
            <a href="/manager/vak-rooster">Maak rooster voor vak</a>
        </div>
    </div>
    <a style="float:right" href="/logout">Uitloggen</a>
    <a style="float:right" href="/profiel">Wijzig Profiel</a>
</div>

</body>
</html>







