<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>SQRT4 | Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Home</h1>
<h2>Homepagina welkom:</h2>
<p><span th:text="${user.getFirstName()}"></span> <span th:text="${user.getLastName()}"></span></p>
<p>U bent ingelogd als <span th:text="${user.getRoles()}"></span></p>
</body>
<footer>
    <h6>&copy; Copyright. All Rights Reserved.</h6>
</footer>
</html>