<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Home</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<body>
<header>
<h1>Home</h1>
</header>

<form action="/login">
    <h1>Welkom bij MijnInzet</h1>
    <button id=inlogknop type="submit">Klik hier om te starten met MijnInzet</button>
</form>

</body>
<footer>
    <h6>&copy; Copyright. All Rights Reserved.</h6>
</footer>

</html>