<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inlog pagina</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
<h1 align="center">Welkom op de inlogpagina van MijnInzet</h1>
<form action="#" th:action="@{/test}">
    Naam
    <input type="text" name="naam" size="40" required> <br>
    Wachtwoord
    <input type="password" name="wachtwoord" size="40" required> <br>
    <input type="submit" value="Inloggen"/>
</form>
</div>
</body>
</html>