<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Niewe Gebruiker</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="form-karin.css">

</head>
<body>
<h1>Nieuwe Gebruiker toevoegen</h1>
<div id="nieuwegebruikerform">
<form action="#" th:action="@{/nieuwe-gebruiker}" th:object="${user}" th:method="POST">
    Voornaam
    <input type="text" th:name="firstName" size="40" required> <br>
    Achternaam
    <input type="text" th:name="lastName" size="40" required> <br>
    Inlognaam
    <input type="text" th:name="username" size="40" required> <br>
    Wachtwoord
    <input th:id="wachtwoord1" type="password" th:name="password" value="" size="40" required> <br>
    Herhaal wachtwoord
    <input th:id="wachtwoord2" type="password" value="" size="40" required > <br>
    Kies een Rol
    <input list="roles">
    <datalist id="roles">
        <option th:each="role : ${roles}"
                th:value="${role.name}"
                th:text="${role.name}">
            <select th:name="roles"></select>
        </option>
    </datalist> <br>
    <input type="submit" onsubmit="noTypo()" value="Nieuwe gebruiker aanmaken"/>
</form>
</div>
</body>
<script>
    function noTypo() {
        var ww1 = document.getElementById('wachtwoord1').value;
        var ww2 = document.getElementById('wachtwoord2').value;
        if (ww1 != ww2) {
            window.alert("wachtwoord niet gelijk!");
        }
    }
</script>
</html>