<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Wijzig Gegevens</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">

</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Wijzig Gegevens <span th:text="${user.getFirstName()}"/></h1>
<div id="nieuwegebruikerform">
    <form action="#" th:action="@{/profiel}" th:method="POST">
        <table>
            <tr>
                <td><input type="hidden" th:name="id" th:value="*{user.getId()}" size="40" required></td>
            </tr>
            <tr>
                <td> <label>Voornaam</label></td>
                <td th:name="firstName" th:text="${user.getFirstName()}"></td>
            </tr>
            <tr>
                <td><label>Achternaam</label></td>
                <td th:name="lastName" th:text="${user.getLastName()}"></td>
            </tr>
            <tr>
                <td><label>Inlognaam</label></td>
                <td th:name="username" th:text="${user.getUsername()}"></td>
            </tr>
            <tr>
                <td><label>Wachtwoord</label></td>
                <td> <input id="wachtwoord1" type="password" th:name="password" value="" size="40" required></td>
            </tr>
            <tr>
                <td><label>Herhaal wachtwoord</label></td>
                <td><input id="wachtwoord2" type="password" value="" size="40" required onchange="noTypo()"></td>
            </tr>
            <tr>
                <td> <label>Huidige Rol</label></td>
                <td th:name="roles" th:text="${user.getRoles()}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Gegevens Wijzigen" onclick="noTypo()"/></td>
            </tr>
        </table>

    </form>
</div>
</body>
<script>
    function noTypo() {
        var ww1 = document.getElementById('wachtwoord1').value;
        var ww2 = document.getElementById('wachtwoord2').value;
        if (ww1 != ww2) {
            alert("Wachtwoorden komen niet overeen!!!");
        }
    }
</script>
</html>