<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQRT4  |  Wijzig Gegevens</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/form-karin.css">

</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Wijzig Gegevens <span th:text="${user.getFirstName()}"/></h1>
<div id="nieuwegebruikerform">
    <div id="afbeeldingGebruiker">
        <img id="" th:title="${user.getFirstName()} + ' ' + ${user.getLastName()}" th:src="${user.getProfilePic()}" alt="profile pic" width="200", height="200">
        <br>
        <button type="button" onclick="changeProfilePicture()">Wijzig afbeelding</button>
    </div>
    <form action="#" th:action="@{/profiel}" th:method="POST">
        <input id="userId" type="hidden" th:name="user_id" th:value="${user.getId()}">
        <table id="TableFormatter">
            <tr colspan="2">
                <td><strong>Persoonsgegevens</strong></td>
            </tr>
            <tr>
                <td> <label>Voornaam</label></td>
                <td th:name="firstName" th:text="${user.getFirstName()}"></td>
            </tr>
            <tr>
                <td><label>Achternaam</label></td>
                <td th:name="lastName" th:text="${user.getLastName()}"></td>
            </tr>
            <tr>
                <td><label>Inlognaam</label></td>
                <td th:name="username" th:text="${user.getUsername()}"></td>
            </tr>
            <tr>
                <td><label>Wachtwoord</label></td>
                <td> <input id="wachtwoord1" type="password" th:name="password" value="" size="40" required></td>
            </tr>
            <tr>
                <td><label>Herhaal wachtwoord</label></td>
                <td><input id="wachtwoord2" type="password" value="" size="40" required onchange="noTypo()"></td>
            </tr>
            <tr>
                <td> <label>Huidige Rol</label></td>
                <td th:name="roles" th:text="${user.getRoles()}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Gegevens Wijzigen" onclick="noTypo()"/></td>
            </tr>
        </table>

    </form>
</div>
</body>
<script>
    function noTypo() {
        var ww1 = document.getElementById('wachtwoord1').value;
        var ww2 = document.getElementById('wachtwoord2').value;
        if (ww1 != ww2) {
            alert("Wachtwoorden komen niet overeen!!!");
        }
    }

    function changeProfilePic() {
        var txt;
        var person = prompt("Please enter an image source");
        if (person == null || person == "") {
            txt = "User cancelled the prompt.";
        } else {
            txt = "het is gelukt";
        }
        document.getElementById("demo").innerHTML = txt;
    }

    function changeProfilePicture() {
        var currentUser = document.getElementById("userId").value;
        var url = '/ajax/profiel/' + currentUser;
        console.log('dit is de url: ' + url)
        changeProfilePic();


        var xhttp;
        if (selectedCourse == "") {
            document.getElementById("voorkeurGebruiker").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("voorkeurGebruiker").value = this.responseText;
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send();
    }
</script>
</html>