<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <!--    <link rel="stylesheet" type="text/css" href="/form-karin.css">-->
</head>
<style>

    .roostertestdagdelen{
    float: left;
        width: 25%;
        padding: 10px;
        position: fixed;
    }

    .rooster {
        float: right;
        margin-right: 15%;
        width: 60%;
        padding: 15px;
        border: 1px solid darkblue;
    }

    .droppable {
        width: 95px;
        height: 55px;
        padding: 10px;
        border: 1px solid darkblue;
        display: table-cell;
    }

</style>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2>Rooster aanmaken voor <span th:text="${cohort.cohortNaam}"/></h2>



<div class="roostertestdagdelen" id="stickyDagdelen">
    <h2>Dagdelen per vak:</h2>
    <div th:each="dagdeel: ${dagdeelLijst}" >
        <div  class="dagdeel" th:id="${dagdeel.id}" th:value="${dagdeel.dagdeelNaam}" th:text="${dagdeel.getDagdeelNaam()}" draggable="true"
              ondragstart="drag(event)">dagdeelnaam</div>
    </div>
</div>

<div>
    <p></p>
</div>

<th:block th:each="week: ${weken}">
<form>
    <table class="rooster">
        <thead id="gekozenCohort"></thead>
        <tr>
            <th>dagdeel</th>
            <th th:text="${week.getMaandag().getDatum()}"></th>
            <th th:text="${week.getDinsdag().getDatum()}"></th>
            <th th:text="${week.getWoensdag().getDatum()}"></th>
            <th th:text="${week.getDonderdag().getDatum()}"></th>
            <th th:text="${week.getVrijdag().getDatum()}"></th>
        </tr>
        <tr>
            <td th:value="ochtend">9:00 - 13:00</td>
            <td class="droppable" id="maandagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="dinsdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="woensdagochtend" ondrop="drop(event)"
                ondragover="allowDrop(event)"></td>
            <td class="droppable" id="donderdagochtend" ondrop="drop(event)"
                ondragover="allowDrop(event)"></td>
            <td class="droppable" id="vrijdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr>
            <td th:value="middag">13:00 - 17:00</td>
            <td class="droppable" id="maandagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="dinsdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="woensdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="donderdagmiddag" ondrop="drop(event)"
                ondragover="allowDrop(event)"></td>
            <td class="droppable" id="vrijdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr>
            <td th:value="avond">17:00 - 21:00</td>
            <td class="droppable" id="maandagavond" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="dinsdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="woensdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="donderdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="droppable" id="vrijdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td> <button type="submit">Opslaan</button></td>
        </tr>
    </table>

</form>
</th:block>
<!--<p>-->
<!--    hier moet iets onder komen-->
<!--</p>-->
<p id="demo">
</p>
</body>
<script>
    var header = document.getElementById("stickyDagdelen");
    var sticky = header.offsetTop;


    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id)
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }


</script>
</html>

