<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>
<style>

    .roostertestdagdelen{
        float: left;
        width: 25%;
        padding: 15px;
        position: fixed;
    }

    .rooster {
        float: right;
        margin-right: 15%;
        width: 60%;
        padding: 15px;
        border: 1px solid darkblue;
    }

    .droppable {
        width: 110px;
        height: 55px;
        padding: 10px;
        border: 1px solid darkblue;
        display: table-cell;
    }

</style>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2>Rooster aanmaken voor <span th:text="${cohort.cohortNaam}"/></h2>

<div class="roostertestdagdelen" id="stickyDagdelen">
    <h2>Dagdelen per vak:</h2>
    <div th:each="vakdagdeel: ${vakdagdeelList}" >
        <div  class="dagdeel" th:id="${vakdagdeel.id}" th:value="${vakdagdeel.id}" th:text="${vakdagdeel.getVakdagdeelNaam()}" draggable="true"
              ondragstart="drag(event)">dagdeelnaam</div>
    </div>
</div>

<div>
    <p></p>
</div>

<th:block th:each="week: ${weken}">
    <form class="rooster" action="#" th:action="@{/manager/rooster-maken-cohort-gekozen}" th:object="${cohort.cohortNaam}" method="post">
        <input type="hidden" name="cohortje" th:value="${cohort.getId()}">
        <table id="dropzone">
            <thead id="gekozenCohort"></thead>
            <tr>
                <th>Week <span th:text="${weken.indexOf(week)+1}"></span></th>
                <th th:text="${week.getMaandag().getDatum()}">maandag</th>
                <th th:text="${week.getDinsdag().getDatum()}">dinsdag</th>
                <th th:text="${week.getWoensdag().getDatum()}">woensdag</th>
                <th th:text="${week.getDonderdag().getDatum()}">donderdag</th>
                <th th:text="${week.getVrijdag().getDatum()}">vrijdag</th>
            </tr>
            <tr>
                <td th:value="ochtend">9:00 - 13:00</td>
                <td class="droppable" id="maandagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="maandagochtend" value=""></td>
                <td class="droppable" id="dinsdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="dinsdagochtend" value=""></td>
                <td class="droppable" id="woensdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="woensdagochtend" value=""></td>
                <td class="droppable" id="donderdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="donderdagochtend" value=""></td>
                <td class="droppable" id="vrijdagochtend" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="vrijdagochtend" value=""></td>
            </tr>
            <tr>
                <td th:value="middag">13:00 - 17:00</td>
                <td class="droppable" id="maandagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="maandagmiddag" value=""></td>
                <td class="droppable" id="dinsdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="dinsdagmiddag" value=""></td>
                <td class="droppable" id="woensdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="woensdagmiddag" value=""></td>
                <td class="droppable" id="donderdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="donderdagmiddag" value=""></td>
                <td class="droppable" id="vrijdagmiddag" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="vrijdagmiddag" value=""></td>
            </tr>
            <tr>
                <td th:value="avond">17:00 - 21:00</td>
                <td class="droppable" id="maandagavond" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="maandagavond" value=""></td>
                <td class="droppable" id="dinsdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="dinsdagavond" value=""></td>
                <td class="droppable" id="woensdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="woensdagavond" value=""></td>
                <td class="droppable" id="donderdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="donderdagavond" value=""></td>
                <td class="droppable" id="vrijdagavond" ondrop="drop(event)" ondragover="allowDrop(event)"
                    value=""><input type="hidden" name="vrijdagavond" value=""></td>
            </tr>
        </table>

        <button type="submit" onclick="waardestonen()">Sla week <span th:text="${weken.indexOf(week)+1}"></span> op</button>
    </form>
</th:block>


<p id="demo">
</p>

<p id="waardes">

</p>
</body>
<script>
    var header = document.getElementById("stickyDagdelen");
    var sticky = header.offsetTop;


    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id)
    }

    var droppedValue;

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        droppedValue = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }


    var dropzone = document.querySelector('#dropzone');

    dropzone.addEventListener('drop', function(e) {
        var td = e.target;
        if (td.tagName === 'TD') {
            td.value = droppedValue;
            td.firstChild.value = td.value;
            // console.log("td value is: " + td.value);
            // console.log("de childwaarde is: " + td.firstChild.value);
            // console.log("maandagochtend: " + document.getElementsByName("maandagochtend")[0].value);
            // console.log("dinsdagochtend: " + document.getElementsByName("dinsdagochtend")[0].value);
        }
    })

</script>
</html>