<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <!--    <link rel="stylesheet" type="text/css" href="/form-karin.css">-->
</head>
<style>
    #rooster {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        padding: 15px;
        border: 1px solid darkblue;
    }
</style>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2>Rooster aanmaken voor <span th:text="${cohort.cohortNaam}"/></h2>

<th:block th:each="week: ${weken}">
    <form id="rooster" action="#" th:action="@{/manager/rooster-maken-cohort-gekozen}" th:object="${cohort}" method="post">
        <table>
            <thead id="gekozenCohort"><input type="hidden" name="cohortNaam" th:value="*{cohortNaam}"> </thead>
            <tr>
                <th>Week <span th:text="${weken.indexOf(week)+1}"></span></th>
                <th th:text="${week.getMaandag().getDatum()}">maandag</th>
                <th th:text="${week.getDinsdag().getDatum()}">dinsdag</th>
                <th th:text="${week.getWoensdag().getDatum()}">woensdag</th>
                <th th:text="${week.getDonderdag().getDatum()}">donderdag</th>
                <th th:text="${week.getVrijdag().getDatum()}">vrijdag</th>
            </tr>
            <tr>
                <td th:value="ochtend">9:00 - 13:00</td>
                <td><select id="maOcht" name="maOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diOcht" name="diOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woOcht" name="woOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doOcht" name="doOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrOcht" name="vrOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
            <tr>
                <td th:value="middag">13:00 - 17:00</td>
                <td><select id="maMid" name="maMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diMid" name="diMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woMid" name="woMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doMid" name="doMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrMid" name="vrMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
            <tr>
                <td th:value="avond">17:00 - 21:00</td>
                <td><select id="maAvo" name="maAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diAvo" name="diAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woAvo" name="woAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doAvo" name="doAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrAvo" name="vrAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
        </table>
        <button type="submit" th:value="${cohort.cohortNaam}" onclick="waardestonen()">Sla week <span th:text="${weken.indexOf(week)+1}"></span> op</button>
    </form>
</th:block>

<p id="demo">
</p>

<p id="waardes">

</p>
</body>
<script>

    var gekozenVak;

    var x = document.getElementById("rooster");
    var y = x.getElementsByTagName("select");

    var text = "";
    for (var i = 0; i < y.length; i++) {
        text += y.item(i).id + "<br>";
    }
    document.getElementById("demo").innerHTML="onderdelen: " + text;

    var waarde = "";
    function waardestonen() {
        for (var k = 0; k < y.length; k++) {
            waarde += y.item(k).value + ", ";
        }
        document.getElementById("waardes").textContent="waardes: " + waarde;
    }

    //th:value="${week.getMaandag().getOchtend.setVak("gekozenVak")}"
</script>
</html>

