<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooster aanmaken</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <!--    <link rel="stylesheet" type="text/css" href="/form-karin.css">-->
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>

<h2 id="gekozenCohort" th:value="${cohort.cohortNaam}">Rooster aanmaken voor <span th:text="${cohort.cohortNaam}"/>. Van week <span th:text="${cohort.getStartWeek()}"/> <span th:text="${cohort.getStartJaar()}"/>
 t/m week <span th:text="${cohort.getEindWeek()}"/> <span th:text="${cohort.getEindJaar()}"/> </h2>

    <form action="#" th:action="@{/manager/rooster-maken-cohort-gekozen-karin}" th:object="${cohort}" method="post">
        <table id="TableFormatter">
            <thead><input type="hidden" name="cohortNaam" th:value="*{cohortNaam}"> </thead>
            <tr>
                <th><select id="week" name="week">
                    <option>Kies een week</option>
                    <option th:each="week: ${weken}" th:value="${week.getWeekNummer()}" th:text="${week.getWeekNummerTekst()}"></option>
                </select> </th>
                <th id="maandag">maandag</th>
                <th>dinsdag</th>
                <th>woensdag</th>
                <th>donderdag</th>
                <th>vrijdag</th>
            </tr>
            <tr>
                <td th:value="ochtend">9:00 - 13:00</td>
                <td><select id="maOcht" name="maOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diOcht" name="diOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woOcht" name="woOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doOcht" name="doOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrOcht" name="vrOcht">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
            <tr>
                <td th:value="middag">13:00 - 17:00</td>
                <td><select id="maMid" name="maMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diMid" name="diMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woMid" name="woMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doMid" name="doMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrMid" name="vrMid">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
            <tr>
                <td th:value="avond">17:00 - 21:00</td>
                <td><select id="maAvo" name="maAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="diAvo" name="diAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="woAvo" name="woAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="doAvo" name="doAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
                <td><select id="vrAvo" name="vrAvo">
                    <option>Geen les</option>
                    <option th:each="vak: ${vakken}" th:value="${vak.getVakNaam()}" th:text="${vak.getVakNaam()}"></option>
                </select> </td>
            </tr>
        </table>
        <br>
        <button type="submit" >Sla week op</button>
    </form>
<p>
    Hieronder een overzicht van alle weken van dit cohort
</p>
<th:block th:each="week: ${weken}">
    <form>
        <table id="TableFormatter">
            <thead> </thead>
            <tr>
                <th>Week <span th:text="${week.getWeekNummer()}"></span></th>
                <th th:text="${week.getMaandag().getDatum()}">maandag</th>
                <th th:text="${week.getDinsdag().getDatum()}">dinsdag</th>
                <th th:text="${week.getWoensdag().getDatum()}">woensdag</th>
                <th th:text="${week.getDonderdag().getDatum()}">donderdag</th>
                <th th:text="${week.getVrijdag().getDatum()}">vrijdag</th>
            </tr>
            <tr>
                <td th:value="ochtend">9:00 - 13:00</td>
                <td th:text="${week.getMaandag().getOchtend().getVak().getVakNaam()}"></td>
                <td th:text="${week.getDinsdag().getOchtend().getVak().getVakNaam()}"></td>
                <td th:text="${week.getWoensdag().getOchtend().getVak().getVakNaam()}"></td>
                <td th:text="${week.getDonderdag().getOchtend().getVak().getVakNaam()}"></td>
                <td th:text="${week.getVrijdag().getOchtend().getVak().getVakNaam()}"> </td>
            </tr>
            <tr>
                <td th:value="middag">13:00 - 17:00</td>
                <td th:text="${week.getMaandag().getMiddag().getVak().getVakNaam()}"></td>
                <td th:text="${week.getDinsdag().getMiddag().getVak().getVakNaam()}"></td>
                <td th:text="${week.getWoensdag().getMiddag().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getDonderdag().getMiddag().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getVrijdag().getMiddag().getVak().getVakNaam()}"> </td>
            </tr>
            <tr>
                <td th:value="avond">17:00 - 21:00</td>
                <td th:text="${week.getMaandag().getAvond().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getDinsdag().getAvond().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getWoensdag().getAvond().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getDonderdag().getAvond().getVak().getVakNaam()}"> </td>
                <td th:text="${week.getVrijdag().getAvond().getVak().getVakNaam()}"> </td>
            </tr>
        </table>
    </form>
</th:block>


</body>
<script>
// Kijken of je iets met ajax kunt doen. Een onchange function bij de week selectie. Zodra dat gebeurt dan haal je de
// vakken op die al in de database staan en laat die zien.

</script>
</html>

