<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Solliciteren</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>

<body>
<h1><i>MijnInzet - SQRT4</i></h1>
<h2>Solliciteer hier op vacatures:</h2>
<table id="SollicitatieTabel">
    <tr class="ST">
        <th>Vacature</th>
        <th>Solliciteren</th>
    </tr>
    <tr class="ST">
        <td><a href="https://en.wikipedia.org/wiki/Computer_programming" target="_blank">Programming</a></td>
        <td>

            <input type="radio" name="Programming" value="ja"> ja
            <input type="radio" name="Programming" value="nee"> nee<br>

        </td>
    </tr>
    <tr class="ST">
        <td><a href="https://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">OOP</a></td>
        <td>

            <input type="radio" name="OOP" value="ja"> ja
            <input type="radio" name="OOP" value="nee"> nee<br>

        </td>
    </tr>
    <tr class="ST">
        <td><a href="https://nl.wikipedia.org/wiki/Categorie:Quizmaster" target="_blank">Project Quizmaster</a></td>
        <td>

            <input type="radio" name="Quizmaster" value="ja"> ja
            <input type="radio" name="Quizmaster" value="nee"> nee<br>

        </td>
    </tr>
</table>
<br/>
<button id="knopOpslaan">Opslaan</button>
<script src="MijnInzet_kladblok_js.js"></script>

</body>

</html>