<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SQRT4  |  Solliciteren</title>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="header-stylesheet.css">
</head>

<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Solliciteren</h1>
<h2>Solliciteer hier op vacatures:</h2>
<form action="#" th:action="@{/sollicitaties/opgeslagen}" th:object="${vacature}" th:method="POST">
<table id="SollicitatieTabel">
    <thead>
    <tr class="ST">
        <th>Vacature</th>
        <th>Aantal Uren</th>
        <th>Vereisten</th>
        <th>Omschrijving</th>
        <th>Solliciteren</th>
    </tr>
    </thead>
    <tbody>
    <span th:text ="${#authentication.name}"></span>
    <tr th:if="${vacatures.empty}">
        <td class="ST" colspan="5">Geen openstaande vacatures beschikbaar</td>
    </tr>
    <tr th:each="vacature: ${vacatures}" th:selected="vacature">
        <td class="ST"><span th:text="${vacature.vacatureNaam}">Vacature </span></td>
        <td class="ST"><span th:text="${vacature.aantalUren}">Aantal Uren </span></td>
        <td class="ST"><span th:text="${vacature.eisen}">Vereisten </span></td>
        <td class="ST"><span th:text="${vacature.omschrijving}">Omschrijving </span></td>
        <td class="ST"><span> <button type="submit">Solliciteren</button> </span></td>
    </tr>
    </tbody>
</table>
</form>
<button id="knopSollicitatieOpslaan" onclick="sollicitatieOpgeslagen()">Solliciteren</button>
    <p id="sollicitatieOpgeslagen"></p>
</body>
<footer>
</footer>

<script>
function sollicitatieOpgeslagen(){

    document.getElementById("sollicitatieOpgeslagen").innerHTML = '<img src="https://media.giphy.com/media/RX7N03MEUafW8/giphy.gif" alt="Flawless">';

}
</script>

</html>