<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SQRT4  |  Solliciteren</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
</head>

<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Solliciteren</h1>
<h2>Solliciteer hier op vacatures:</h2>
<form action="#" th:action="@{/docent/sollicitaties-details}" th:object="${vacature}" th:method="GET">
<table id="TableFormatter">
    <thead>
    <tr class="ST">
        <th>Vacature</th>
        <th>Aantal Uren</th>
        <th>Meer info en solliciteren</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${vacatures.empty}">
        <td class="ST" colspan="3">Geen openstaande vacatures beschikbaar</td>
    </tr>
    <tr th:each="vacature: ${vacatures}">
        <td class="ST"><span th:text="${vacature.vacatureNaam}">Vacature </span></td>
        <td class="ST"><span th:text="${vacature.aantalUren}">Aantal Uren </span></td>
        <td class="ST"><span > <button type="submit" th:value="${vacature.vacatureNaam}" th:name="vacatureNaam">Meer informatie</button> </span></td>
    </tr>
    </tbody>
</table>
</form>
<input type="button" value="Ga naar het overzicht van mijn sollicitaties" onclick=window.location.pathname="/sollicitaties-overzicht" />

<!--<button id="knopSollicitatieOpslaan" onclick="sollicitatieOpgeslagen()">Solliciteren</button>-->
<!--    <p id="sollicitatieOpgeslagen"></p>-->
</body>
<footer>
</footer>

<script>
function sollicitatieOpgeslagen(){

    document.getElementById("sollicitatieOpgeslagen").innerHTML = '<img src="https://media.giphy.com/media/RX7N03MEUafW8/giphy.gif" alt="Flawless">';

}
</script>

</html>