<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4 | Kennisgebieden</title>
    <link rel="stylesheet" type="text/css" href="/voorkeur.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/header-stylesheet.css">
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16"/>
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Voorkeuren</h1>
<h2>Geef hier je voorkeur aan met een cijfer tussen de 1 en 3</h2>

<form action="#" th:action="@{/docent/voorkeuren}" th:object="${voorkeur}" method="POST">
    <input id="userId" type="hidden" th:name="user_id" th:value="${user.getId()}">
    <table id="TableFormatter">
        <tr>
            <td><strong><label th:text="Vak"/></strong></td>
            <td>
                <select id="vakkenLijst" onchange="showPreference(this.value)" th:field="*{vak}">
                    <option th:each="vak: ${vakkenLijst}" th:value="${vak.vakId}" th:text="${vak.getVakNaam()}">
                </select>
            </td>
            <td><input id="voorkeurGebruiker" type="number" th:field="*{voorkeurGebruiker}" min="1" max="3"/></td>
            <td><input type="submit" value="Opslaan"/></td>
        </tr>
    </table>
</form>


</body>
<script>
    function showPreference() {
        var selectedCourse = document.getElementById("vakkenLijst").value;
        var currentUser = document.getElementById("userId").value;
        var url = '/ajax/voorkeuren/' + currentUser + '/' + selectedCourse;
        console.log(url);

        var xhttp;
        if (selectedCourse == "") {
            document.getElementById("voorkeurGebruiker").innerHTML = "";
            return;
        }
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("voorkeurGebruiker").value = this.responseText;
                console.log('dit is de response van de server: ' + this.responseText)
            }
        };
        xhttp.open("POST", url, true);
        xhttp.send();
    }
    showPreference();

</script>
</html>
