<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4  |  Kennisgebieden</title>
    <!--<link rel="stylesheet" type="text/css" href="voorkeur.css">-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->
    <!--<link rel="stylesheet" type="text/css" href="header-stylesheet.css">-->
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Voorkeuren</h1>
<h2>Geef hier je voorkeur aan</h2>

<form th:action="@{/voorkeuren}" th:object="${voorkeur}" th:method="POST">
    <legend>Vakken</legend>
    <ul th:each="vak : ${vakken}">
        <li th:text="${vak.vakNaam}"></li>
        <div>
            <input type="radio" th:name="${vak.vakId}" value="1"><label>liever niet</label>
            <input type="radio" th:name="${vak.vakId}" value="2"><label>als het moet</label>
            <input type="radio" th:name="${vak.vakId}" value="3"><label>graag</label>
            <br>
        </div>
    </ul>
<button id="knopOpslaan" onclick="Opslaan()">Opslaan</button>
</form>
</body>

<script>
    function Opslaan(){
        this.click = function() {
            alert('Voorkeur is opgeslagen');
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);
</script>
</html>