<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SQRT4  |  Kennisgebieden</title>
    <link rel="stylesheet" type="text/css" href="voorkeur.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" type="text/css" href="header-stylesheet.css">
    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />
</head>
<body>
<header>
    <div th:insert="~{header::copy}">Header</div>
</header>
<h1>Voorkeuren</h1>
<h2>Geef hier je voorkeur aan</h2>
<div class="container">
    <br>
    <form action="#" th:action="@{/voorkeuren}" th:object="${voorkeur}" th:method="POST">
    <table>
        <thead>
        <tr>
            <th>Vakken</th>
            <th>Liever niet</th>
            <th>Als het moet</th>
            <th>Graag</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${vakken.empty}">
            <td>Geen vakken beschikbaar</td>
        </tr>
        <tr th:each="vak: ${vakken}">
            <td><span th:text="${vak.vakNaam}">Vacature </span></td>
            <td>
                <input type="radio" th:name="${vak.vakId}"><label th:value="1"></label>
            </td>
            <td>
                <input type="radio" th:name="${vak.vakId}"><label th:value="2"></label>
            </td>
            <td>
                <input type="radio" th:name="${vak.vakId}"><label th:value="3"></label>
            </td>
        </tr>
        </tbody>
    </table>
    <button id="knopOpslaan" onclick="Opslaan()">Opslaan</button>
    </form>
</div>
</body>
<script>
    function Opslaan(){
        this.click = function() {
            alert('Voorkeur is opgeslagen');
        }
    }

    var knopOpslaan = new Opslaan();

    var knopElement = document.getElementById('knopOpslaan');
    knopElement.addEventListener('click', knopOpslaan.click);
</script>
</html>